<section class="section has-background-light is-clipped">
    <a href="/type/{{product.category}}">
        <div class="container">
            <h2 class="title mb-16 mb-24-tablet">{{product.category}}</h2>
            <div class="mb-20 columns is-multiline">
                {{#each products as |product| }}
                {{> product}}
                {{/each}}
            </div>

            <hr>
            <hr>
        </div>
    </a>
</section>