<section class="section has-background-light is-clipped">
  <a href="/category/{{id}}">
    <div class="container">
      <h2 class="title mb-16 mb-24-tablet">{{category_name}}</h2>
      <hr>
      <hr>
      <div class="mb-20 columns is-multiline">
        {{#each category}}
        {{> product}}
        {{/each}}
      </div>
    </div>
  </a>
</section>