<section class="section py-0 is-relative is-clipped has-background-link-light">
    <div class="container">
        <div class="columns is-align-items-center">
            <div class="column is-5-desktop pt-20-mobile pt-20-tablet-only">
                <div class="has-mw-md">
                    <span class="is-size-5">Shoes collection</span>
                    <h2 class="mb-8 mb-16-desktop mt-2 is-size-2 title is-1 has-leading-2">New styles. Check it now.
                    </h2>
                    <a class="button has-background-link has-text-white" href="/type/footwear">More</a>
                </div>
            </div>
            <div class="is-hidden-mobile is-hidden-tablet-only column is-7-desktop" style="height: 512px;">
                <img style="max-width: none; width: auto; height: 100%; object-fit: cover;"
                    src="https://wallpapercave.com/wp/wp4312585.jpg" alt="">
            </div>
        </div>
    </div>
    <img class="mt-20 is-hidden-desktop" src="https://wallpapercave.com/wp/wp4312585.jpg" alt="">
</section>


<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
    <!-- Controls -->
    <div class="d-flex justify-content-center mb-4">
        <button class="carousel-control-prev position-relative" type="button"
            data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next position-relative" type="button"
            data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <a id="woman" href="/type/women">
                                <img src="https://media.istockphoto.com/photos/young-african-american-woman-wearing-headphones-listening-to-music-in-picture-id1320722435?b=1&k=20&m=1320722435&s=170667a&w=0&h=5EqzX-UcAu-ScQliI13RyHgy6uO4OOZaraeiAqdn7Ys="
                                    class="card-img-top" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">WOMEN</h5>
                                <p class="card-text">
                                    New collection 2022
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <a id="footwear" href="/type/footwear">

                                <img src="https://64.media.tumblr.com/1918c1c8d53e6c4af29deed6d013cc9b/tumblr_p0pp6awdef1valq9yo1_1280.jpg"
                                    class="card-img-top" alt="" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">FOOTWEAR</h5>
                                <p class="card-text">
                                    Fall 2022
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <a id="man" href="/type/men">

                                <img src="https://img.freepik.com/free-photo/portrait-attractive-man-wearing-specs-looking-far-away-isolated-dark-neon-purple-color-background_231208-14359.jpg?w=360"
                                    class="card-img-top" alt="Sunset Over the Sea" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">MEN</h5>
                                <p class="card-text">
                                    New in
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="section has-background-light is-clipped">
    <div class="container">
        <h2 class="title mb-16 mb-24-tablet">Discover our products</h2>
        <div class="mb-20 columns is-multiline">

            {{#each products as |product| }}
            {{> product}}
            {{/each}}
        </div>
</section>

<script src="/js/category.js"></script>
<script src="/js/type.js"></script>
