<section class="section py-20-desktop is-clipped is-relative">
    <div class="container">
        <div class="columns is-align-items-center is-justify-content-space-between">
            <div class="column is-5 is-4-desktop is-5-widescreen mb-12 mb-0-tablet">
                <div class="pr-5-widescreen">
                    <small class="mb-2 is-block has-text-grey-darker is-uppercase has-text-weight-semibold">
                        <span>Create an</span>
                        <span class="has-text-primary">account</span>
                    </small>
                    <h2 class="title has-mw-xs">Join our community</h2>
                    <form class="signup-form">
                        <div class="field mb-4">
                            <label class="label"><small>Username</small></label>
                            <div class="control">
                                <input id="username-signup" class="input" type="text" placeholder="Type Username">
                            </div>
                        </div>
                        <div class="field mb-4">
                            <label class="label"><small>E-mail Address</small></label>
                            <div class="control">
                                <input id="email-signup" class="input" type="text" placeholder="Type E-mail">
                            </div>
                        </div>
                        <div class="field mb-4">
                            <label class="label mb-2"><small>Password</small></label>
                            <div class="control">
                                <input id="password-signup" class="input" type="password" placeholder="Type password">
                            </div>
                        </div>
                        <div class="control has-text-right">
                            <button type="submit" class="button is-primary is-fullwidth">Get started</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- javascript file-->
<script src="/js/signup.js"></script>