<section class="section has-background-light is-clipped">
    <a href="/type/{{this.type}}">
        <div class="container">
            <h2 class="title mb-16 mb-24-tablet">{{this.type}}</h2>
            <div class="mb-20 columns is-multiline">
                {{#each products as |product| }}
                {{> product}}
                {{/each}}
            </div>

            <hr>
            <hr>
        </div>
    </a>
</section>
